name: Build

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */6 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Checkout main
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Translate rss
        run: go run ./cmd/rss-translate

      - name: Push rss/ to rss branch
        run: |
          git config --global user.name "${{ secrets.U_NAME }}"
          git config --global user.email "${{ secrets.U_EMAIL }}"

          git checkout --orphan rss
          git rm -rf .
          git add -f rss/
          git mv rss/rss.md README.md
          git commit -m "translated rss"
          git push -f origin rss
